@model frameQuest.Models.Sessione


@{
    ViewBag.Title = "Elabora";
}

<h2>Elabora</h2>

<ul>
    <li>IdTest: @Model.IdTest</li>
    <li>Nominativo: @Model.Nominativo</li>
</ul>

Risposte:
<dl>
    @foreach (var r in Model.Risposte)
    {
        <dt>@r.IdDomanda</dt>
        <dd>@r.IdRisposta</dd>
    }
</dl>